@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body{
        background-image: linear-gradient(to bottom, #023535, #0FC2C0);
        background-attachment: fixed;

    }

    main > div#login{
        width: 80vw;
        height: 300px;

    }

    main > div#login > header{
        float: left;
        width: 30%;
        height: 100%;
        

    }

    main > div#login > header > h1{
        margin-top: 70px;
        font-size: 35px;
    }

    main > div#login section#formulario{
        float: right;
        width:65%;

    }

    main > div#login > section#formulario > h2{
        font-size: 2em;
    }

    main > div#login  > section#formulario >p{
        font-size: 1.3em;
        margin-bottom: 10px;
    }
}

@media screen and (min-width: 992px) {
    body{
       background-image: linear-gradient(to bottom, #023535, #0FC2C0);
        background-attachment: fixed;
    }

    main > div#login{
        width: 70vw;
        height: 350px;
    }

    main > div#login > header{
        float: right;
        height: 100%;
        width: 46%;
    }

    main > div#login section#formulario{
        float: left;
        width: 50%;
        

    }

    main > div#login > header > h1{
        margin-top: 60px;
        font-size: 70px;
    }

    main > div#login > section#formulario > h2{
        margin-top: 30px;
        font-size: 2em;
    }

    main > div#login  > section#formulario >p{
        font-size: 1.3em;
        margin-bottom: 10px;
    }
    
}